@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@600&family=Baloo+Da+2:wght@600&family=Roboto&family=Ubuntu:wght@400;700&display=swap');
::-webkit-scrollbar-thumb{
    background-color: rgb(145, 77, 14);
    border-radius: 70px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(173, 108, 47, 0.678);
}
::-webkit-scrollbar{
    width: 8px; 
}
.navbar{
	box-shadow: 0px 1px 5px 0px grey;
}
.nav-link{
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: black !important;
}
.navbar-brand{
    font-size: 50px !important;
}
.fa-mobile-screen, .fa-envelope {
    color: rgb(161, 90, 56);
}
.fa-magnifying-glass, .fa-cart-shopping{
    color: black;
}
.brand{
    color: rgb(197, 155, 38);
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Kantumruy Pro', sans-serif;
    margin: 0 -10px;
}

#midd-img{
    background-image:
    linear-gradient(to right bottom, rgba(0, 0, 0, 0.849), rgba(10, 9, 9, 0.746)),
    url('../img/faqs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#contact-heading{
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 50px;
}
#contact-heading::after{
    content: '';
    /* border: 1px solid; */
    height: 5px;
    border-radius: 5px;
    background: rgb(158, 73, 16);
    width: 55px;
    position: absolute;
    transform: rotate(180deg);
    margin: 65px -97px;
}

#item-count{
    /* border: 1px solid; */
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    color: white;
    margin: -15px -5px;
    background: rgb(102, 46, 21);
}
.accordion-button{
    box-shadow: 0 0 0 0 ;
    color: rgb(41, 27, 10) !important;
}
.accordion-button:focus{
    box-shadow: 0 0 0 0 ;
    color: rgb(41, 27, 10);
}













/* footer Css */

h1,
h2,
h3,
h4,
h5,
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
.footer {
    background-image:linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.609)), url('../img/back6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-top: 200px;
    height: auto;
}

.fa-location-dot,.enve{
    color: rgba(163, 101, 29, 0.836);
}
/*END FOOTER SOCIAL DESIGN*/


@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: #fff;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}

.single_footer ul li a {
color: #fff;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
}
.single_footer ul li a:hover {
    /* color: #ff3666; */
    transform: perspective(5px);
  
}


.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
display: block;
position: relative;
margin-top: 15px;
width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #382208;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
color:#000000;
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#f5f5f5;
border: 1px solid #6d3d10;
color:rgb(61, 31, 13);
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 70px;
padding-top: 40px;
color:#fff;
font-size: 15px;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}
.copyright a{
    color:#f3f3f3;
    transition: all 0.2s ease 0s;
    font-weight: bold;
    border-bottom: 1px solid;
}
.copyright a:hover{color:#8b7662;}



@media screen and (max-width: 750px) {
    #midd-img{
        height: 350px;
    }
    #header{
        display: flex;
        justify-content: center;
        width: 100%;
        /* width: 100%; */
    }
    #email{
        display: flex;
        width: 100%;
        justify-content: center;
    }
 
}